.b-s {
    border-style: dotted;
    border-width: 10px;
    border-color: rgb(0, 161, 167);
}

.b-r {
    border: 10px solid rgb(229, 233, 0);
    border-radius: 40px;
}

h1 {
    border-left: 10px ridge rgb(119, 8, 17);
}

.m-auto {
    margin: 30px;
}

.m-t {
    margin-top: 20px;
}

.m-l {
    margin-left: 10px;
}

.m-r {
    margin-right: 45px;
}

.m-b {
    margin-bottom: 35px;
}